/* -----------------------------------------------глобальні класи----------------------------------------------------------------------------- */

/* _________________________________________ПЕРЕХОДИ_________________________________________ */

/* ---------------------------------------------------------ХЕДЕР--------------------------------------------------------------------------- */

/* -------------------------------------------------Секція Hero Студія---------------------------------------------------------------------- */

/* ______________________________________MODAL____________________________________________ */

/* хххххххххххххххххххххххххх Другий спосіб checkbox ххххххххххххххх */
/* .check {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-icon {
  fill: transparent;
}
.checkbox-input:checked + .checkbox-label .check {
  background-color: var(--accent-color);
  border: none;
}
.checkbox-input:checked + .checkbox-label .check-icon {
  fill: var(--main-btn-color); */
/* } */
/* -------------------------------------------------------Секція Наші переваги-------------------------------------------------------------- */

/* -----------------------------------------------------Секція Чим ми займаємось-------------------------------------------------------------- */

/* -------------------------------------------------------Секція Наша команда---------------------------------------------------------------- */

/* __________________________________________________________КЛІЄНТИ____________________________________________________ */

/* ---------------------------------------------------------------Футер--------------------------------------------------------------------- */

/* ------------------------------------------------------------------Секція Hero Портфорліо-------------------------------------------------- */
