.work.section {
  padding-top: 0px;
}

.work-title {
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--second-title-color);
  }
}
