:root {
  --main-title-color: #212121;
  --logo-color: #212121;
  --header-nav-color: #212121;
  --second-btn-color: #212121;
  --accent-color: #2196f3;
  --background-section: #2f303a;
  --background-body: #ffffff;
  --main-body-color: #757575;
  --header-contact-color: #757575;
  --product-text-color: #757575;
  --adress-footer-color: rgba(255, 255, 255, 0.6);
  --second-background-color: #f5f4fa;
  --footer-logo-color: #ffffff;
  --address-text-color: #ffffff;
  --second-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --main-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
}
